.cartspacing{
    margin: 10px;
}
.cartColor{
    background-color: palegreen;
}
.plusIcon,.minusIcon{
    
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
}
.itemCount{
    
    margin-right: 5px;
    font-weight: 600;
}

.bt4{
    border-radius: 5px;
    background-color: antiquewhite;
}
.cartdesign{
    margin-left: 0;
}